.section-header
  mat-toolbar
    padding: 0
    background-color: #7C55CD

  .btn
    cursor: pointer
    margin: auto 0
    background: none
    border: none
    padding: 0
    min-width: 34px

  .icon-bar
    width: 22px
    height: 2px
    background: white
    margin: 3px
    position: relative

  .title-bar
    margin: 0 auto
    color: white
    cursor: default
    letter-spacing: 2px
