.layout-main-container
  width: calc(100% - 4rem)
  height: 100vh
  margin-left: 4rem
  z-index: 0
  top: 0
  transition: all .5s ease

  .layout-main
    height: calc(100% - 64px)

.container-trimmed
  width: calc(100% - 15rem)
  margin-left: 15rem

.main-md-sceen
  width: calc(100% - 5rem)
  margin-left: 5rem

.active
  background-color: #ffffff

