
<app-sidebar-left (onToggleSidebar)="onToggleSidebar($event)"></app-sidebar-left>
<div class="layout-main-container" [ngClass]="getMainContainer()">
  <app-header></app-header>
  <div class="layout-main">
    <router-outlet></router-outlet>
  </div>
</div>

