<section class="section-sidebar" [ngClass]="collapsed ? 'sidebar-collapsed' : ''">
  <div class="sidebar-header">
    <button (click)="onClickHamb()" class="sidebar-btn">
      <div class="icon-bar" [@hambMenuX]="isHambMenu ? 'hambMenu' : 'topX'"></div>
      <div class="icon-bar" [@hambMenuX]="isHambMenu ? 'hambMenu' : 'hide'"></div>
      <div class="icon-bar" [@hambMenuX]="isHambMenu ? 'hambMenu' : 'bottomX'"></div>
    </button>
    <div class="sidebar-label" *ngIf="collapsed" @fadeInOut>Angmap</div>
  </div>
  <ul class="menu-container">
    <li class="menu-item" *ngFor="let item of model">
      <a [routerLink]="item.routerLink" class="menu-link">
        <mat-icon class="menu-link-icon" aria-hidden="false" aria-label="Example home icon">{{ item.icon }}</mat-icon>
        <span class="menu-link-text" *ngIf="collapsed" @fadeInOut>{{ item.label }}</span>
      </a>
    </li>
  </ul>
</section>
