@import "src/assets/variables/colors"

.sidebar-collapsed
  width: 15rem!important

.section-sidebar
  background-color: #ffffff
  transition: all .5s ease
  position: fixed
  z-index: 1
  top: 0
  width: 4rem
  height: 100vh
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3

  .sidebar-header
    display: flex
    align-items: center
    padding: 0.938rem 0.938rem 0 0.938rem
    width: 100%
    min-height: 45px

    .sidebar-btn
      cursor: pointer
      align-items: center
      background: none
      border: none
      padding: 0
      text-align: center
      margin-left: 3px

    .icon-bar
      width: 22px
      height: 2px
      background-color: #263238
      margin: 3px
      position: relative

    .sidebar-label
      margin-left: .5rem
      font-size: 24px
      font-weight: 700
      letter-spacing: 3px
      cursor: default

  .menu-container
    list-style: none
    padding: 0.938rem
    margin: 0
    display: flex
    flex-direction: column
    align-items: center
    height: calc(100% - 3.65rem)
    cursor: pointer

    .menu-item
      width: 100%
      margin-bottom: 0.625rem

      .menu-link
        display: flex
        align-items: center
        height: 3rem
        text-decoration: none
        transition: color .3s ease
        border-radius: .2rem

        .menu-link-icon
          font-size: 22px
          width: 2rem
          min-width: 2rem
          margin: 0
          text-align: center


        .menu-link-text
          margin-left: 1rem

      &:hover
        .menu-link
          background-color: #263238
          .menu-link-icon
            color: white

          .menu-link-text
            color: white
