@import 'variables/typography'
@import 'variables/colors'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: $font-black-color

body
  position: relative
  font-family: $font-family-primary
  height: 100%

